<head th:fragment="scripts">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Starter template">
  <meta name="author" content="Chitushka">
  <meta name="keywords" content="java, spring-boot, spring framework, chitushka, starter template">

  <link rel="icon" th:href="@{/img/favicons/favicon-16x16.png}" type="image/png" sizes="16x16"/>
  <link rel="icon" th:href="@{/img/favicons/favicon-32x32.png}" type="image/png" sizes="32x32"/>
  <link rel="icon" th:href="@{/img/favicons/favicon-72x72.png}" type="image/png" sizes="72x72"/>
  <link rel="icon" th:href="@{/img/favicons/favicon-96x96.png}" type="image/png" sizes="96x96"/>

  <title>Starter Template</title>

  <link href="/css/light.css" th:href="@{/css/light.css}" rel="stylesheet">
  <link href="/css/fonts.css" th:href="@{/css/fonts.css}" rel="stylesheet">
</head>