<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Simple page title</title>
    <link rel="stylesheet"  th:href="@{/css/style.css}">
</head>
<body>

<h1>Header page h1</h1>
<p>this is paragraph block</p>
<p class="red-text">this is red text paragraph block</p>

<p>Сегодня: <span th:text="${today}"/></p>

<script th:src="@{/js/index.js}"></script>
</body>
</html>